autopep8==2.0.4
flake8==7.0.0
mccabe==0.7.0
numpy==1.26.4
pandas==2.2.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
pycodestyle==2.11.1
pyflakes==3.2.0
pygame==2.5.2
PyMonCtl==0.7
python-dateutil==2.8.2
pytz==2024.1
pywin32==306
PyWinBox==0.6
PyWinCtl==0.3
six==1.16.0
tomli==2.0.1
typing_extensions==4.9.0
tzdata==2024.1
